<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>title</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <script>
    $(document).ready(function() {
      $("#btnReviewWrite").on("click", function() {
        var frm = $("#frm")[0];
        frm.action = "/review/writeBoard";
        frm.submit();
      });

    });
  </script>
</head>
<body>
<div layout:fragment="content">
  <form id="frm" action="/reserve/deleteReserve">
    <div class="container">
      <h1>여행 어때?</h1>
      <div class="form-group">
        <label>여행지 이름</label>
        <input type="text" class="form-control" id="tripName" name="tripName" placeholder="여행지" th:value="${reserve.tripName}" readonly>
      </div>
      <div class="form-group">
        <label>여행지 위치</label>
        <input type="text" class="form-control" id="tripRegion" name="tripRegion" placeholder="예약 장소" th:value="${tripRegion}" readonly>
      </div>
      <div class="form-group">
        <label>여행 테마</label>
        <input type="text" class="form-control" id="tripCategory" name="tripCategory" placeholder="테마" th:value="${tripCategory}" readonly>
      </div>
      <div class="form-group">
        <label>예약 시작일</label>
        <input type="text" class="form-control" id="reserveStart" name="reserveStart" placeholder="예약시작일" th:value="${reserve.reserveStart}" readonly>
      </div>
      <div class="form-group">
        <label>예약 종료일</label>
        <input type="text" class="form-control" id="reserveEnd" name="reserveEnd" placeholder="예약종료일" th:value="${reserve.reserveEnd}" readonly>
      </div>
      <div class="form-group">
        <label>인원수</label>
        <input type="text" class="form-control" id="reserveNum" name="reserveCount" placeholder="인원수" th:value="${reserve.reserveCount}" readonly>
      </div>
      <div class="form-group">
        <label>이용자 이름</label>
        <input type="text" class="form-control" id="userName" name="userName" placeholder="사용자이름" th:value="${reserve.userName}" readonly>
      </div>
      <div class="form-group">
        <label>이용자 폰번호</label>
        <input type="tel" class="form-control" id="userPhone" name="userPhone" placeholder="사용자휴대전화" th:value="${reserve.userPhone}" readonly>
      </div>
      <div class="form-group">
        <label>예약 금액</label>
        <input type="text" class="form-control" id="tripPrice" name="reservePrice" placeholder="금액" th:value="${reserve.reservePrice}" readonly>
        <!--        <input type="text" class="form-control" id="tripPrice" name="tripPrice" placeholder="금액" th:value="trip_price * reserve">-->
      </div>
      <input type="hidden" name="reservePk" th:value="${reserve.reservePk}">
      <input type="hidden" name="tripPk" th:value="${reserve.tripPk}">
      <button type="submit" class="btn btn-primary my-3" >예약취소</button>
<!--      <th:block data-th-text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"></th:block>-->
<!--      <th:block th:if="${reserve.reserveEnd.isAfter()}">-->
<!--        ${qnaBoard.createdAt.isBefore(defaultToday)}-->
<!--        현재 날짜 출력 :  data-th-text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"-->
        <button type="button" class="btn btn-success my-3" id="btnReviewWrite">후기작성</button>
<!--      </th:block>-->
    </div>
  </form>
</div>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>